---
import "@fontsource-variable/inter";
import Features from "~/components/features.astro";
import Header from "~/components/header.astro";
import Testimonios from "~/components/testimonios.astro";
import VideoPresentacion from "~/components/video-presentacion.astro";
import NuestrosEventos from "~/components/nuestros-eventos.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";
import TimeLine from "~/components/TimeLine/time-line.astro";
import LeagueSpartanFont from "~/assets/font/League-Spartan/LeagueSpartan-Bold.otf";
import QuestrialFont from "~/assets/font/Questrial/Questrial-Regular.ttf";

const { generator } = Astro;
const site = "https://www.feelusion.com/";
const imagePath = "https://www.feelusion.com/feelusionLogo.png";
const image = new URL(imagePath).toString();
const description =
  "Organizaci贸n y gesti贸n de eventos para emprendedores"
---

<!doctype html>
<html lang="es" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  
    <meta name="generator" content={generator} />

    <title>Feelusion</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Feelusion" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />

    <!-- twitter -->
    <meta name="twitter:title" content="Feelusion">
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content={image}>
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Indexaci贸n -->
    <meta name="robots" content="index, follow" />

    <!-- Configuraci贸n de idioma -->
    <meta name="language" content="es" />

    <link
      rel="preload"
      href={LeagueSpartanFont}
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href={QuestrialFont}
      as="font"
      type="font/ttf"
      crossorigin
    />
    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <div class="space-y-24 px-8 pt-12 md:pt-0 pb-12 bg-product bg-cover">
      <VideoPresentacion />
      <Testimonios />
      <NuestrosEventos />
      <Features />
      <TimeLine />

      <!--<Compatibility />-->
      <!--<Showcase />-->
    </div>
    <!-- <Footer /> -->
  </body>
</html>
