---
import { Equipo } from "../constants/index";
import Instagram from "./icons/instagram.astro";
import Facebook from "./icons/face-book.astro";
import X from "./icons/x.astro";
import Linkedin from "./icons/linkedin.astro";
import ContentSection from "./content-section.astro";

import { getI18N } from "@/i18n";
let { url } = Astro
const pathname = url.pathname

let currentLocale = "es"
if (pathname.startsWith("/ca/")) {
  currentLocale = "ca";
} else if (pathname.startsWith("/en/")) {
  currentLocale = "en";
}
const i18n = getI18N({ currentLocale });
const TEAM = i18n.TEAM;

const team:any = Equipo[0].equipo;
---
<ContentSection
  title={TEAM.TITLE}
  id="video-presentacion"
  css="pt-16 py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6"
>
  <Fragment slot="lead" set:html={TEAM.DESCRIPTION}></Fragment>

  <div class="grid md:grid-cols-2 w-full p-12">
    {Object.keys(team).map((miembro) => {
        const data = team[miembro];
        return (
        <div 
        style={{backgroundImage: `url(${data.Imagen})`}}
        class="bg-cover bg-no-repeat h-[500px] w-[400px] flex flex-col justify-between mx-auto text-center bg-gray-700 border border-default bg-offset m-6 rounded-lg hover:scale-110 duration-300 hover:shadow-[0px_0px_15px_5px_rgb(217,159,39)]">
        <div class="bg-gray-800 p-2 opacity-70">
          <h3
          class="text-2xl font-bold tracking-tight text-gray-300"
          >
            <a href={data.Id}>{data.Nombre}</a>
          </h3>
          <p class="text-gray-400 text-sm">{data.Posicion}</p>
        </div> 
        
            
            
            
            <ul class="flex justify-center space-x-4 bg-gray-700 p-2 opacity-70">
                <li>
                <a
                    href=`https://www.instagram.com/${data.Instagram}`
                    target="_blank"
                    class="text-gray-300 hover:text-gray-400"
                >
                    <Instagram/>
                </a>
                </li>
                <li>
                <a
                    href=`${data.Facebook}`
                    target="_blank"
                    class="text-[#39569c] hover:text-white"
                >
                    <Facebook/>
                </a>
                </li>
                <li>
                <a
                    href=`${data.Linkedin}`
                    class="text-[#39569c] hover:text-white"
                >
                <Linkedin/>
                </a>
                </li>
                <li>
                <a
                    href=`${data.Twitter}`
                    target="_blank"
                    class="text-gray-300 hover:text-gray-400"
                >
                <X/>
                </a>
                </li>
            </ul>
        </div>
        )})}
  </div>
  
</ContentSection>
