---
import { Image } from "astro:assets";
import { Equipo } from "../constants/index";
import Instagram from "./icons/instagram.astro";
import Facebook from "./icons/face-book.astro";
import X from "./icons/x.astro";
import Linkedin from "./icons/linkedin.astro";

const team:any = Equipo[0].equipo;
---

<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
  <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
    <h2
      class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
    >
      Nuestro Equipo
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
  <!--<div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">-->
  <div class="grid md:grid-cols-2 ">
    {Object.keys(team).map((miembro) => {
        const data = team[miembro];
        return (
        <div class="flex flex-col mx-auto text-center w-auto bg-gray-700 border border-default bg-offset p-6 m-6 rounded-lg hover:scale-110 duration-300 hover:shadow-[0px_0px_15px_5px_rgb(217,159,39)]">
            <h3
                class="text-2xl font-bold tracking-tight text-gray-300"
            >
               <a href={data.Id}>{data.Nombre}</a>
            </h3>
            <p class="text-gray-400 text-sm mb-6">{data.Posicion}</p>
            <Image
                class="mx-auto mb-2 w-[435px] h-[400px] rounded"
                src={data.Imagen}
                alt={data.Nombre}
                width="435"
                height="400"
            />
            <ul class="flex justify-center mt-4 space-x-4">
                <li>
                <a
                    href=`https://www.instagram.com/${data.Instagram}`
                    target="_blank"
                    class="text-gray-300 hover:text-gray-400"
                >
                    <Instagram/>
                </a>
                </li>
                <li>
                <a
                    href=`${data.Facebook}`
                    target="_blank"
                    class="text-[#39569c] hover:text-white"
                >
                    <Facebook/>
                </a>
                </li>
                <li>
                <a
                    href=`${data.Linkedin}`
                    class="text-[#39569c] hover:text-white"
                >
                <Linkedin/>
                </a>
                </li>
                <li>
                <a
                    href=`${data.Twitter}`
                    target="_blank"
                    class="text-gray-300 hover:text-gray-400"
                >
                <X/>
                </a>
                </li>
            </ul>
        </div>
        )})}
  </div>
</div>
