---
import "@fontsource-variable/inter";

import LeagueSpartanFont from "@/assets/font/League-Spartan/LeagueSpartan-Bold.otf";
import QuestrialFont from "@/assets/font/Questrial/Questrial-Regular.ttf";
import Footer from "@/components/footer.astro";

import { GoogleAnalytics } from 'astro-google-analytics';

import { getI18N } from "@/i18n";
let { url } = Astro
const pathname = url.pathname

let currentLocale = "es"
if (pathname.startsWith("/ca/")) {
  currentLocale = "ca";
} else if (pathname.startsWith("/en/")) {
  currentLocale = "en";
}
const i18n = getI18N({ currentLocale });
const SEO_TITLE = i18n.SEO_TITLE
const SEO_DESCRIPTION = i18n.SEO_DESCRIPTION


const { generator } = Astro;
const site = "https://www.feelusion.com/";
const imagePath = "https://www.feelusion.com/feelusionLogo.png";
const image = new URL(imagePath).toString();
const title = SEO_TITLE
const description = SEO_DESCRIPTION


---

<!doctype html>
<html lang="es" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  
    <meta name="generator" content={generator} />

    <GoogleAnalytics id="G-TN7S6CZBCC" />
    
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Feelusion" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />

    <!-- twitter -->
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content={image}>
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Indexación -->
    <meta name="robots" content="index, follow" />

    <!-- Configuración de idioma -->
    <meta name="language" content={currentLocale} />

    <link
      rel="preload"
      href={LeagueSpartanFont}
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href={QuestrialFont}
      as="font"
      type="font/ttf"
      crossorigin
    />
    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-fit overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <slot></slot>
  </body>
</html>
